html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GRID */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* CLEARFIX */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

/* STARTS HERE */

.box {
  width: 390px;
  border: 4px solid #494949;
  margin: 80px auto;
  text-align: center;
  background: #353535;
  padding: 10px;
  font-family: arial, sans-serif;
}

h1 {
  color: #D1DBDD;
  font-size: 2.3em;
  margin-bottom: 15px;
}

.lcd {
  background: #B1F3BD;
  width: 97%;
  height: 80px;
  margin: 5px;
  padding: 10px;
  text-align: right;
  font-size: 4em;
  border: 2px solid #000000;
}

.number, .operator {
  float: left;
  width: 80px;
  height: 80px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  font-size: 3.5em;
  color: #B1F3BD;
}

.number {
  background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
}

.operator {
  background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
}

.number:hover, .operator:hover {
  border: 2px solid #B1F3BD;
  cursor: pointer;
}

.number {}
